{% extends "base.html" %}

{% block content %}
<div class="page-title">
    <div class="title_left">
        <h3>Twitterアカウント登録</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>確認</h3>
            </div>
            <div class="x_content">
                <p>以下の内容でよろしいですか？</p>
                <form id="demo-form2" data-parsley-validate class="form-horizontal" method="post">
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="reset">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
