{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3>アカウントリスト <small>登録済みアカウント</small></h3>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="demo-x_title">
                    <h3>ここに色々書く</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                <div class="x_title">
                    <h2>Top Campaign Performance</h2>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- /page content -->
{% endblock %}
